.container{
	margin: 0 auto;
	width: 50rem;
}
.top{
	margin-top:10rem ;
	margin-bottom: 2rem;
}
.bottom{
	margin-bottom: 0rem;
}
 .container a {
	position: relative;
	
}
 .container a div{
	text-indent: 4rem;
	height: 4rem;
	width: 100%;
	border: 1px rgb(217,216,216) solid;
	border-radius: 5px;
	width: 100%;
	color: black;
	font-size: 2rem;
	line-height: 4rem;
	font-weight:500 ;
}
.container a img{
	height: 1rem;
	width: 1rem;
	position: absolute;
	top: -2.5rem;
	left: 45rem;
}
