body{
    background-color:#f2efef;
}
.re_info{
    margin: 10rem auto;
    width: 90%;

}
.re_info div{
    width: 100%;
    height: 30%;
    border:0 white solid;
    font-size: 2rem;
    margin-bottom: 2rem;
}
.re_info div p{
    float: left;
}
.re_info div p,.re_info div input{
    /*display: inline-block;*/
    border: 0 white solid;
    background: white;
    border-radius: 1rem;
    width:20%;
    height: 3rem;
    text-align: center;
    line-height: 3rem;
}
.re_info div input{
    border-color:white;
    margin-left: -2rem;
    width: 83%;
}
.re_info div:nth-child(4) input{
    width: 3%;
    margin-left: 10rem;
    float: left;
}
.re_info div:nth-child(4) span{
    color: #c84178;
    font-size: 1rem;
}
.submit{
    background: #f9008f;
    color: white;
    font-size: 3rem;
    width: 99%;
    height: 5rem;
    border-radius: 1rem;
    margin-top: 10rem;
}
