/*此时页脚有问题高度应随页面自己调节*/
form{
	margin:10rem 2rem;	
}
form input{
	height: 5rem;
	width: 34rem;
	border-radius: 10px;
	border:2px rgb(215,215,215) solid;
	font-size: 2rem;
	background: url("../img/common/ser_bg.png") left center no-repeat;
	background-size: 12% 90%;
	padding-left: 6rem;
}
form button{
	background-color: rgb(209,18,122);
	border:none;
	height: 5rem;
	width: 10rem;
	margin-left: 2rem;
	border-radius: 10px;
	font-size: 2rem;
}
